#console-background {
    background-color: lightgray;
    border-radius: 10px;
    height: 450px;
    padding: 25px 0px 40px 0px;
}

#console-foreground {
    padding: 40px 40px 0px 40px;
    background-color: rgb(56, 55, 55);
    height: 450px;
    font-size: 20px;
    font-family: 'Inconsolata', 'monospace';
    line-height: 25px;
    box-shadow: 5px 5px 5px grey;
}

.command {
    letter-spacing: 0px;
    text-align: left;
    color: white;
}
.result {
    letter-spacing: 0px;
    text-align: left;
    color: lightgray;
}