#experience-table {
    width:100%;
}

.job {
    padding-top: 1vh;
    padding-bottom: 1vh;
    letter-spacing: 0px;
}

.company {
    color: black;
    text-decoration: none;
}

.time {
    font-weight: 200;
    float: right;
    font-size: 1.2vh;
}

.position {
    font-size: 1.2vh;

}