#experience-table {
    width:100%;
}

.job {
    padding-top: 1vh;
    padding-bottom: 1vh;
    letter-spacing: 0px;
}

.company {
    font-size: 22px;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.time {
    font-family: 'Inconsolata', 'monospace';
    float: right;
    font-size: 20px;
}

.position {
    font-size: 20px;

}