html {
    font-family: 'Roboto', 'sans-serif';
    letter-spacing: 2px;
}

a {
    color: #007bff;
}

.title-1 {
    color: #007bff;
    font-size: 35px;
    font-weight: bold;
    letter-spacing: 2px;
    padding-bottom: 30px;
}

.title-2 {
    font-size: 22px;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.body {
    font-size: 20px;
}

.console-command {
    letter-spacing: 0px;
    text-align: left;
    color: white;
    font-family: 'Inconsolata', 'monospace';
}

.console-response {
    letter-spacing: 0px;
    text-align: left;
    color: lightgray;
    font-family: 'Inconsolata', 'monospace';
}

.time {
    font-family: 'Inconsolata', 'monospace';
    float: right;
    font-size: 20px;
}

#hello {
    margin: 0 0 0 0;
    font-size: 5vh;
    height: 30vh;
    line-height: 30vh;
    font-weight: 100;
}

#introduction {
    margin: 0 0 0 0;
    max-width: 850px;
    font-size: calc(2.5vh + 15px);
    font-weight: 100;
    padding-top: 5vh;
    padding-bottom: 15vh;
}

#contact {
    margin: 0 0 0 0;
    height: 20vh;
    font-size: 2.5vh;
    font-weight: 100;
}

#name {
    font-weight: bold;
}