header {
    padding-left: 6%;
    padding-right: 6%;
    height: 100vh;
}

#hello {
    margin: 0 0 0 0;
    font-size: 5vh;
    height: 40vh;
    line-height: 40vh;
    font-weight: normal;
}

#introduction {
    margin: 0 0 0 0;
    max-width: 850px;
    font-size: 4vh;
    font-weight: normal;
}

#contact {
    margin: 0 0 0 0;
    height: 20vh;
    line-height: 20vh;
    font-size: 2vh;
    font-weight: normal;
}

#name {
    font-weight: bold;
}