header {
    padding-left: 6%;
    padding-right: 6%;
    height: 100vh;
}

#hello {
    margin: 0 0 0 0;
    font-size: 5vh;
    height: 30vh;
    line-height: 30vh;
    font-weight: 100;
}

#introduction {
    margin: 0 0 0 0;
    max-width: 850px;
    font-size: calc(2.5vh + 15px);
    font-weight: 100;
    padding-top: 5vh;
    padding-bottom: 15vh;
}

#contact {
    margin: 0 0 0 0;
    height: 20vh;
    font-size: 2.5vh;
    font-weight: 100;
}

#name {
    font-weight: bold;
}