
.project {
    letter-spacing: 0;
    padding-bottom: 40px;
}

.project-title {
    font-size: 22px;
    display: inline-block;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.project-description {
    font-size: 20px;
}