section {
    padding: 0% 15% 5% 20%;
}

.section-title {
    color: #007bff;
    min-font-size: 40px;
    font-size: 2.5vh;
    font-weight: bold;
    letter-spacing: 2px;
    padding-bottom: 2vh;
}

.section-content {
    display: inline-block;
    text-align: center;
}

.company {
    font-weight: bold;
    font-size: 1.4vh;
}