
.skills-container {
    letter-spacing: 0;
    width: 32%;
    vertical-align: top;
    display: inline-block;
}

.skills-title {
    font-weight: bold;
    font-size: 22px;
}

.skills-list {
    font-size: 20px;
}