body {
    margin: 0 0 0 0;
    background-color: #ffffff;
    min-width: 850px;
}

header {
    padding-left: 6%;
    padding-right: 6%;
    height: 100vh;
}

section {
    padding: 0% 10% 30px 10%;
}

ul {
    list-style: none;
    padding: 10px 0 0 0;
    margin: 0;
}

#console-background {
    background-color: lightgray;
    border-radius: 10px;
    height: 450px;
    padding: 25px 0px 40px 0px;
}

#console-foreground {
    padding: 40px 40px 0px 40px;
    background-color: rgb(56, 55, 55);
    height: 450px;
    font-size: 20px;
    line-height: 25px;
    box-shadow: 5px 5px 5px grey;
}

.job {
    padding-top: 1vh;
    padding-bottom: 1vh;
    letter-spacing: 0px;
}


.project {
    letter-spacing: 0;
    padding-bottom: 40px;
}

.skills-container {
    letter-spacing: 0;
    width: 32%;
    vertical-align: top;
    display: inline-block;
}

#footer {
    padding-left: 10vw;
    padding-right: 0;
    width: 80vw;
    min-width: 600px;
}