::selection {
    background: #ffe57f;
}

:root {
    --base-size: 45px
}

.xl {
    font-size: calc(var(--base-size) * 1.0);
}

.l {
    font-size: calc(var(--base-size) * 0.75);
}

.m {
    font-size: calc(var(--base-size) * 0.55);
}

.s {
    font-size: calc(var(--base-size) * 0.40);
}

.xs {
    font-size: calc(var(--base-size) * 0.3);
}

img.xl {
    height: calc(var(--base-size) * 1.0);
    width: calc(var(--base-size) * 1.0);
}

img.l {
    height: calc(var(--base-size) * 0.75);
    width: calc(var(--base-size) * 0.75);
}

img.m {
    height: calc(var(--base-size) * 0.55);
    width: calc(var(--base-size) * 0.55);
}

img.s {
    height: calc(var(--base-size) * 0.40);
    width: calc(var(--base-size) * 0.40);
}

img.xs {
    height: calc(var(--base-size) * 0.3);
    width: calc(var(--base-size) * 0.3);
}

/*vertical fonts*/

@media only screen and (max-height: 550px) {
    .xl {
        font-size: calc(var(--base-size) * 1.0 * 0.8);
    }

    .l {
        font-size: calc(var(--base-size) * 0.75  * 0.8);
    }

    .m {
        font-size: calc(var(--base-size) * 0.55  * 0.8);
    }

    .s {
        font-size: calc(var(--base-size) * 0.40  * 0.8);
    }

    .xs {
        font-size: calc(var(--base-size) * 0.3  * 0.8);
    }

    img.xl {
        height: calc(var(--base-size) * 1.0 * 0.8);
        width: calc(var(--base-size) * 1.0 * 0.8);
    }

    img.l {
        height: calc(var(--base-size) * 0.75 * 0.8);
        width: calc(var(--base-size) * 0.75 * 0.8);
    }

    img.m {
        height: calc(var(--base-size) * 0.55 * 0.8);
        width: calc(var(--base-size) * 0.55 * 0.8);
    }

    img.s {
        height: calc(var(--base-size) * 0.40 * 0.8);
        width: calc(var(--base-size) * 0.40 * 0.8);
    }

    img.xs {
        height: calc(var(--base-size) * 0.3 * 0.8);
        width: calc(var(--base-size) * 0.3 * 0.8);
    }
}

@media only screen and (max-height: 450px) {
    .xl {
        font-size: calc(var(--base-size) * 1.0 * 0.7);
    }

    .l {
        font-size: calc(var(--base-size) * 0.75  * 0.7);
    }

    .m {
        font-size: calc(var(--base-size) * 0.55  * 0.7);
    }

    .s {
        font-size: calc(var(--base-size) * 0.40  * 0.7);
    }

    .xs {
        font-size: calc(var(--base-size) * 0.3  * 0.7);
    }

    img.xl {
        height: calc(var(--base-size) * 1.0 * 0.7);
        width: calc(var(--base-size) * 1.0 * 0.7);
    }

    img.l {
        height: calc(var(--base-size) * 0.75 * 0.7);
        width: calc(var(--base-size) * 0.75 * 0.7);
    }

    img.m {
        height: calc(var(--base-size) * 0.55 * 0.7);
        width: calc(var(--base-size) * 0.55 * 0.7);
    }

    img.s {
        height: calc(var(--base-size) * 0.40 * 0.7);
        width: calc(var(--base-size) * 0.40 * 0.7);
    }

    img.xs {
        height: calc(var(--base-size) * 0.3 * 0.7);
        width: calc(var(--base-size) * 0.3 * 0.7);
    }

}

/*horizontal fonts*/

@media only screen and (max-width: 800px) {
    .xl {
        font-size: calc(var(--base-size) * 1.0 * 0.9);
    }

    .l {
        font-size: calc(var(--base-size) * 0.75  * 0.9);
    }

    .m {
        font-size: calc(var(--base-size) * 0.55  * 0.9);
    }

    .s {
        font-size: calc(var(--base-size) * 0.40  * 0.9);
    }

    .xs {
        font-size: calc(var(--base-size) * 0.3 * 0.9);
    }

    img.xl {
        height: calc(var(--base-size) * 1.0 * 0.9);
        width: calc(var(--base-size) * 1.0 * 0.9);
    }

    img.l {
        height: calc(var(--base-size) * 0.75 * 0.9);
        width: calc(var(--base-size) * 0.75 * 0.9);
    }

    img.m {
        height: calc(var(--base-size) * 0.55 * 0.9);
        width: calc(var(--base-size) * 0.55 * 0.9);
    }

    img.s {
        height: calc(var(--base-size) * 0.40 * 0.9);
        width: calc(var(--base-size) * 0.40 * 0.9);
    }

    img.xs {
        height: calc(var(--base-size) * 0.3 * 0.9);
        width: calc(var(--base-size) * 0.3 * 0.9);
    }

}

@media only screen and (max-width: 600px) {
    .xl {
        font-size: calc(var(--base-size) * 1.0 * 0.75);
    }

    .l {
        font-size: calc(var(--base-size) * 0.75  * 0.75);
    }

    .m {
        font-size: calc(var(--base-size) * 0.55  * 0.75);
    }

    .s {
        font-size: calc(var(--base-size) * 0.40  * 0.75);
    }

    .xs {
        font-size: calc(var(--base-size) * 0.3  * 0.75);
    }

    img.xl {
        height: calc(var(--base-size) * 1.0 * 0.75);
        width: calc(var(--base-size) * 1.0 * 0.75);
    }

    img.l {
        height: calc(var(--base-size) * 0.75 * 0.75);
        width: calc(var(--base-size) * 0.75 * 0.75);
    }

    img.m {
        height: calc(var(--base-size) * 0.55 * 0.75);
        width: calc(var(--base-size) * 0.55 * 0.75);
    }

    img.s {
        height: calc(var(--base-size) * 0.40 * 0.75);
        width: calc(var(--base-size) * 0.40 * 0.75);
    }

    img.xs {
        height: calc(var(--base-size) * 0.3 * 0.75);
        width: calc(var(--base-size) * 0.3 * 0.75);
    }
}

@media only screen and (max-width: 500px) {
    .xl {
        font-size: calc(var(--base-size) * 1.0 * 0.65);
    }

    .l {
        font-size: calc(var(--base-size) * 0.75  * 0.65);
    }

    .m {
        font-size: calc(var(--base-size) * 0.55  * 0.65);
    }

    .s {
        font-size: calc(var(--base-size) * 0.40  * 0.65);
    }

    .xs {
        font-size: calc(var(--base-size) * 0.3  * 0.65);
    }

    img.xl {
        height: calc(var(--base-size) * 1.0 * 0.65);
        width: calc(var(--base-size) * 1.0 * 0.65);
    }

    img.l {
        height: calc(var(--base-size) * 0.75 * 0.65);
        width: calc(var(--base-size) * 0.75 * 0.65);
    }

    img.m {
        height: calc(var(--base-size) * 0.55 * 0.65);
        width: calc(var(--base-size) * 0.55 * 0.65);
    }

    img.s {
        height: calc(var(--base-size) * 0.40 * 0.65);
        width: calc(var(--base-size) * 0.40 * 0.65);
    }

    img.xs {
        height: calc(var(--base-size) * 0.3 * 0.65);
        width: calc(var(--base-size) * 0.3 * 0.65);
    }
}

@media only screen and (max-width: 450px) {
    .xl {
        font-size: calc(var(--base-size) * 1.0 * 0.65);
    }

    .l {
        font-size: calc(var(--base-size) * 0.75  * 0.65);
    }

    .m {
        font-size: calc(var(--base-size) * 0.55  * 0.65);
    }

    .s {
        font-size: calc(var(--base-size) * 0.40  * 0.65);
    }

    .xs {
        font-size: calc(var(--base-size) * 0.3  * 0.65);
    }

    img.xl {
        height: calc(var(--base-size) * 1.0 * 0.65);
        width: calc(var(--base-size) * 1.0 * 0.65);
    }

    img.l {
        height: calc(var(--base-size) * 0.75 * 0.65);
        width: calc(var(--base-size) * 0.75 * 0.65);
    }

    img.m {
        height: calc(var(--base-size) * 0.55 * 0.65);
        width: calc(var(--base-size) * 0.55 * 0.65);
    }

    img.s {
        height: calc(var(--base-size) * 0.40 * 0.65);
        width: calc(var(--base-size) * 0.40 * 0.65);
    }

    img.xs {
        height: calc(var(--base-size) * 0.3 * 0.65);
        width: calc(var(--base-size) * 0.3 * 0.65);
    }
}

@media only screen and (max-width: 400px) {
    .xl {
        font-size: calc(var(--base-size) * 1.0 * 0.6);
    }

    .l {
        font-size: calc(var(--base-size) * 0.75  * 0.6);
    }

    .m {
        font-size: calc(var(--base-size) * 0.55  * 0.6);
    }

    .s {
        font-size: calc(var(--base-size) * 0.40  * 0.6);
    }

    .xs {
        font-size: calc(var(--base-size) * 0.3  * 0.6);
    }

    img.xl {
        height: calc(var(--base-size) * 1.0 * 0.6);
        width: calc(var(--base-size) * 1.0 * 0.6);
    }

    img.l {
        height: calc(var(--base-size) * 0.75 * 0.6);
        width: calc(var(--base-size) * 0.75 * 0.6);
    }

    img.m {
        height: calc(var(--base-size) * 0.55 * 0.65);
        width: calc(var(--base-size) * 0.55 * 0.65);
    }

    img.s {
        height: calc(var(--base-size) * 0.40 * 0.65);
        width: calc(var(--base-size) * 0.40 * 0.65);
    }

    img.xs {
        height: calc(var(--base-size) * 0.3 * 0.65);
        width: calc(var(--base-size) * 0.3 * 0.65);
    }
}

@media only screen and (max-width: 350px) {
    .xl {
        font-size: calc(var(--base-size) * 1.0 * 0.55);
    }

    .l {
        font-size: calc(var(--base-size) * 0.75  * 0.55);
    }

    .m {
        font-size: calc(var(--base-size) * 0.55  * 0.55);
    }

    .s {
        font-size: calc(var(--base-size) * 0.40  * 0.55);
    }

    .xs {
        font-size: calc(var(--base-size) * 0.3  * 0.55);
    }

    img.xl {
        height: calc(var(--base-size) * 1.0 * 0.55);
        width: calc(var(--base-size) * 1.0 * 0.55);
    }

    img.l {
        height: calc(var(--base-size) * 0.75 * 0.55);
        width: calc(var(--base-size) * 0.75 * 0.55);
    }

    img.m {
        height: calc(var(--base-size) * 0.55 * 0.55);
        width: calc(var(--base-size) * 0.55 * 0.55);
    }

    img.s {
        height: calc(var(--base-size) * 0.40 * 0.55);
        width: calc(var(--base-size) * 0.40 * 0.55);
    }

    img.xs {
        height: calc(var(--base-size) * 0.3 * 0.55);
        width: calc(var(--base-size) * 0.3 * 0.55);
    }
}